[Desktop Entry]
Type=Application
Name=Joemt Video Compressor
GenericName=Joemt Video Compressor
Comment=Compress videos to a target file size
Exec=joemt-video-compressor %f
Icon=io.github.Joedotmt.JoemtVideoCompressor
Terminal=false
Categories=AudioVideo;Video;
Keywords=video;compress;ffmpeg;size;
StartupNotify=true
MimeType=video/mp4;video/x-matroska;video/quicktime;video/webm;video/x-msvideo;
